body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #111;
    color: white;
}

header {
    background: #222;
    padding: 15px;
    text-align: center;
}

nav a {
    margin: 10px;
    color: #00eaff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 40px;
}

button {
    background: #00eaff;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

input, textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    background: #333;
    padding: 10px;
}
