/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron', sans-serif;
    background: #0A0A0A;
    color: #e8e8e8;
    text-align: center;
}

header {
    background: #111;
    padding: 15px;
    border-bottom: 3px solid #a88b00;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: #e8e8e8;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover, nav a.active {
    color: #a88b00;
    transform: scale(1.2);
}

/* Buttons */
.btn {
    background: #a88b00;
    color: #000;
    padding: 12px 20px;
    margin-top: 15px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    border-radius: 5px;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px gold;
}

/* Mobile Menu Button */
.menu-btn {
    display: none;
}

/* HERO */
.hero {
    padding: 50px;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.card {
    background: #1a1a1a;
    padding: 20px;
    width: 200px;
    border: 2px solid #444;
    transition: .3s;
}

.card:hover {
    border-color: #a88b00;
    transform: scale(1.1);
}

/* GALLERY */
.gallery {
    padding: 30px;
    display: grid;
    gap: 20px;
}

.gallery img {
    width: 100%;
    border: 2px solid #555;
    transition: .3s;
}

.gallery img:hover {
    border-color: #a88b00;
    transform: scale(1.05);
}

/* Contact Form */
.contact-box {
    padding: 30px;
}

input, textarea {
    width: 80%;
    padding: 10px;
}

footer {
    background: #111;
    padding: 10px;
    margin-top: 40px;
}

/* Responsive */
@media(max-width: 768px){
    .cards {
        flex-direction: column;
    }

    nav {
        flex-direction: column;
        display: none;
    }

    .menu-btn {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }
}
